<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/leave2.css' %}">

    <title>Web Meet</title>
</head>
<body>
    <div class="box">
        <p>You left the meeting</p>
    </div>
    <div class="menu-button">
     <a href="http://localhost:8000/join"><button class = "rejoin" type="submit">Rejoin</button></a>
   <a href="http://localhost:8000/"><button class = "homescreen" type="submit" >Return to homescreen</button></a>
    </div>
</body>
</html>